<div id="saveSuccess"></div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-atom">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<nav class="navbar navbar-expand-lg navebar_color" id="mainNavBar">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: #fff;" href="Ifrs16mainpage.html">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link border-top-0" href="index.html" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Scoping <span class="sr-only"></span></a>
                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" tabindex="-1" href="#">Map TB with process & SCT</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" href="#">Perform</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="dropdown-item">Upload trail balance</a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">Review & approve</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" tabindex="-1" href="#">Process & Sub process Owner</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" href="#">Perform</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="dropdown-item">Upload trail balance</a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">Review & approve</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="aboutus.html">Process Document<span class="sr-only"></span></a></li>
                <li class="nav-item"><a class="nav-link" href="contactus.html">Control Design<span class="sr-only"></span></a></li>
                <li class="nav-item"><a class="nav-link" href="login.html">Control Testing<span class="sr-only"></span></a></li>
                <li class="nav-item"><a class="nav-link" href="login.html">Reports<span class="sr-only"></span></a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="col-2 nav-item dropdown text-center">
                    <a class="nav-link  img_nav_bar" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <label [(ngModel)]="name" ngDefaultControl [ngModelOptions]="{standalone: true}">{{ name }} </label>
                        <img src='/assets/img/thumb.png' alt="img">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <!-- <a class="dropdown-item" routerLink="/login">Log In</a> -->
                        <a id="myBtn" class="dropdown-item">Add New Company</a>
                        <a class="dropdown-item" href="javascript:void(0);" (click)="logout()">Log Out</a>
                        <!-- <a class="dropdown-item" routerLink="/signup">Sign In</a> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>
<div id="myModal" class="modall">
    <div class="modal-dialog" role="document">
        <div class="modal-content pb-3">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <span class="closee" onclick="$('#myModal').hide();">&times;</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row" id="companyAddUserResponcePanel"></div>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputUserName" name="companyName " [(ngModel)]="companyName " aria-describedby="emailHelp" placeholder="Company Name">
                            </div>
                            <input type="hidden" readonly class="form-control" name="userId" [(ngModel)]="userId" id="exampleCompany" placeholder="Company">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" (click)="SignUp()">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>