<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-12 border-bottom pb-1">
                <h4 class="heading_main m-0">Setting</h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 col-md-12 col-12">
                <fieldset class="border p-2">
                    <legend class="w-auto">Add Process</legend>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-12 col-12">
                                <input type="text" class="form-control searchbutton_properity">
                            </div>
                            <div class="col-lg-4 col-md-12 col-12">
                                <button class="btn btn-info searchbutton_properity">Add process</button>
                            </div>
                        </div>
                        <div class="row mt-2 border p-2 m-0">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-lg-8 col-md-12 col-12">
                                        <h6>Process 1</h6>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-12 text-center">
                                        <button class="btn btn-info searchbutton_properity_delet_edit"><i class="fas fa-trash"></i></button>
                                        <button class="btn btn-info searchbutton_properity_delet_edit"><i class="fas fa-pencil-alt"></i></button>
                                    </div>
                                </div>
                                <div class="row mt-2 pt-2 border-top">
                                    <div class="col-lg-8 col-md-12 col-12">
                                        <h6>Process 1</h6>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-12 text-center">
                                        <button class="btn btn-info searchbutton_properity_delet_edit"><i class="fas fa-trash"></i></button>
                                        <button class="btn btn-info searchbutton_properity_delet_edit"><i class="fas fa-pencil-alt"></i></button>
                                    </div>
                                </div>
                                <div class="row mt-2 pt-2 border-top">
                                    <div class="col-lg-8 col-md-12 col-12">
                                        <h6>Process 1</h6>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-12 text-center">
                                        <button class="btn btn-info searchbutton_properity_delet_edit"><i class="fas fa-trash"></i></button>
                                        <button class="btn btn-info searchbutton_properity_delet_edit"><i class="fas fa-pencil-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
                <fieldset class="border p-2">
                    <legend class="w-auto">Add SCT</legend>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-12 col-12">
                                <input type="text" class="form-control searchbutton_properity">
                            </div>
                            <div class="col-lg-4 col-md-12 col-12">
                                <button class="btn btn-info searchbutton_properity">Add SCT</button>
                            </div>
                        </div>
                        <div class="row mt-2 border p-2 m-0">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-lg-8 col-md-12 col-12">
                                        <h6>SCT 1</h6>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-12 text-center">
                                        <button class="btn btn-info searchbutton_properity_delet_edit"><i class="fas fa-trash"></i></button>
                                        <button class="btn btn-info searchbutton_properity_delet_edit"><i class="fas fa-pencil-alt"></i></button>
                                    </div>
                                </div>
                                <div class="row mt-2 pt-2 border-top">
                                    <div class="col-lg-8 col-md-12 col-12">
                                        <h6>SCT 1</h6>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-12 text-center">
                                        <button class="btn btn-info searchbutton_properity_delet_edit"><i class="fas fa-trash"></i></button>
                                        <button class="btn btn-info searchbutton_properity_delet_edit"><i class="fas fa-pencil-alt"></i></button>
                                    </div>
                                </div>
                                <div class="row mt-2 pt-2 border-top">
                                    <div class="col-lg-8 col-md-12 col-12">
                                        <h6>SCT 1</h6>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-12 text-center">
                                        <button class="btn btn-info searchbutton_properity_delet_edit"><i class="fas fa-trash"></i></button>
                                        <button class="btn btn-info searchbutton_properity_delet_edit"><i class="fas fa-pencil-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</body>

</html>