<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-12">
                <div class="row mt-3">
                    <div class="col-12">
                        <h4 class="heading_main"><a href="#" style="color: black;"><i class="fas fa-angle-left"></i> Process Document</a></h4>
                    </div>
                </div>
                <div class="row mt-3 border p-2">
                    <div class="col-12">
                        <div class="row process_main_name">
                            <div class="col-lg-11 col-md-12 col-12 mb-1 border">
                                <h5>Process</h5>
                            </div>
                            <div class="col-lg-1 col-md-12 col-12 mb-1 border">
                                <h5>Status</h5>
                            </div>
                        </div>
                        <div class="row mt-2 process_second_bar_document">
                            <div class="col-lg-11 col-md-12 col-12">
                                <h5 class="mt-1" onclick="$('.ordering_div').toggle();"><a href="#" style="color: #fff;"><i class="fas fa-plus"></i></a> &nbsp; Order to Cash</h5>
                            </div>
                            <div class="col-lg-1 col-md-12 col-12">
                                <div class="status_color"></div>
                            </div>
                            <div class="col-12  ordering_div">
                                <div class="row">
                                    <div class="col-lg-11 col-md-12 col-12 p-2 border">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-12 col-12">
                                                <p class="mt-1"><i class="fa fa-plus"></i> &nbsp; SCT - I petty Cash purchases</p>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-12">
                                                <P><i class="fa fa-eye"></i> &nbsp; Name of file Attached</P>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-12">
                                                <div class="image-upload">
                                                    <label for="file-input">
                                            <i class="fa fa-upload"></i> Attach
                                        </label>
                                                    <input id="file-input" type="file" />
                                                </div>&nbsp;&nbsp;
                                                <a href="#">Approve</a>&nbsp;&nbsp;
                                                <i class="far fa-check-circle"></i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-12 col-12">
                                                <p class="mt-1"><i class="fa fa-plus"></i> &nbsp; SCT - I petty Cash purchases</p>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-12">
                                                <P><i class="fa fa-eye"></i> &nbsp; Name of file Attached</P>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-12">
                                                <div class="image-upload">
                                                    <label for="file-input">
                                            <i class="fa fa-upload"></i> Attach
                                        </label>
                                                    <input id="file-input" type="file" />
                                                </div>&nbsp;&nbsp;
                                                <a href="#">Approve</a>&nbsp;&nbsp;
                                                <i class="far fa-check-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2 process_second_bar_document">
                            <div class="col-lg-11 col-md-12 col-12">
                                <h5 class="mt-1" onclick="$('.recordtoreport_div').toggle();"><a href="#" style="color: #fff;"><i class="fas fa-plus"></i></a> &nbsp; Order to Cash</h5>
                            </div>
                            <div class="col-lg-1 col-md-12 col-12">
                                <div class="status_color"></div>
                            </div>
                            <div class="col-12 recordtoreport_div">
                                <div class="row">
                                    <div class="col-lg-11 col-md-12 col-12 p-2 border">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-12 col-12">
                                                <p class="mt-1"><i class="fa fa-plus"></i> &nbsp; SCT - I petty Cash purchases</p>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-12">
                                                <P><i class="fa fa-eye"></i> &nbsp; Name of file Attached</P>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-12">
                                                <div class="image-upload">
                                                    <label for="file-input">
                                            <i class="fa fa-upload"></i> Attach
                                        </label>
                                                    <input id="file-input" type="file" />
                                                </div>&nbsp;&nbsp;
                                                <a href="#">Approve</a>&nbsp;&nbsp;
                                                <i class="far fa-check-circle"></i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-12 col-12">
                                                <p class="mt-1"><i class="fa fa-plus"></i> &nbsp; SCT - I petty Cash purchases</p>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-12">
                                                <P><i class="fa fa-eye"></i> &nbsp; Name of file Attached</P>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-12">
                                                <div class="image-upload">
                                                    <label for="file-input">
                                            <i class="fa fa-upload"></i> Attach
                                        </label>
                                                    <input id="file-input" type="file" />
                                                </div>&nbsp;&nbsp;
                                                <a href="#">Approve</a>&nbsp;&nbsp;
                                                <i class="far fa-check-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 text-right mb-2">
                    <div class="col-12">
                        <button class="btn btn-info button_unique_properity">Save</button>
                        <button class="btn btn-success button_unique_properity">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>